@model IEnumerable<Class>
@{
    ViewData["Title"] = "Class Schedule";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    @foreach (Day d in ViewBag.Days)
    {
        <a asp-action="Index" asp-route-id="@d.DayId">@d.Name</a>
    }
</div>
<a asp-action="Add" asp-controller="Class">Add Class</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Number</th>
            <th>Teacher</th>
            <th>Day</th>
            <th>Time</th>
        </tr>
    </thead>
</table>